<div class="card">
  <div class="card-body">
    <h2>Nature Photographer Person</h2>
    <p>I do not exist, and do not own these photographs, but please have a look at them,
    I hope I've laid them out in a way that you like.</p>
  </div>
</div>
