<div class="card">
  <div class="card-body">
    <h2>Contact</h2>
    <p>Seeing as how im an inanimate entity, you can't really contact me,
    but if you try really hard - maybe you could.</p>
  </div>
</div>
