
<div class="row">
  <div class="col-sm-4">
    <div class="card">
    <img src="https://images.unsplash.com/photo-1455476915919-2b028d0a1230?ixlib=rb-
    1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="card-img-top"
    alt="...">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
    <img src="https://images.unsplash.com/photo-1502252430442-aac78f397426?ixlib=rb-
    1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="card-img-top"
    alt="...">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card" styling= "height: 250px;">
    <img src="https://images.unsplash.com/photo-1507629221898-576a56b530bb?ixlib=rb-
    1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" class="card-img-top"
    alt="...">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>